################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CQRSAndEventSourcing/.vs/CQRSAndEventSourcing/v15
